body {
    background-color: #e9e9e9;
    height: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 50px;
    margin-top: 50px;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    min-width: 400px;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    padding: 3rem;
}

.logoGET{
    width: 90%;
}

.divider {
    background-color:#c9c9c9;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    height: 1px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: sans-serif;
    font-size: 23px;
    color:#ff6e35;
}
h2 {
    font-family: sans-serif;
    font-size: 18px;
    color:#ff6e35;
}

a {
    margin: 5px;
    color: white;
    font-weight: 600;
    border-radius: 0.4rem;
    border-color: #ff6e35;
    background-color: #ff6e35;
    border-style: none;
    height: 25px;
    min-width: min-content;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
}
a:hover {
    background-color: #ff976d;
}

input {
    margin: 5px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border:#ff6e35 solid 1px;
    border-radius: 0.4rem;
    border-color: #ce5b2d;
    background-color: #ffbb93;
    height: 25px;
    min-width: min-content;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    text-align: center;
    text-decoration: none;
}
input:hover {
    background-color: #ffffff;
}

td, th {
    margin: 5px;
    padding: 4px;
    border-radius: 3px;
}

th {
    background-color: #ff6e35;
    border: 1px solid #ff6e35;
    color: rgb(255, 255, 255);
    border-radius: 7px;
    height: 20px;
}
td {
    border: 1px solid #ff6e35;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.game_app {
    position: relative;
    overflow: hidden;
    background: url('img/pkmn_bg.gif') no-repeat;
    background-position-y: -27px;
    height: 350px;
    width: 650px;
    border: solid 5px rgb(43, 43, 43);
    border-radius: 25px;
}

#pkmn_sprite_front {
    height: 200px;
    width: 200px;
    display: flex;
    position: absolute;
    left: 57%;
    bottom: 42%;
    /* border: solid red 2px; */
    justify-content: left;
    align-items:end;

}

#pkmn_sprite_back {
    height: 200px;
    width: 200px;
    display:flex;
    position: absolute;
    left: 20%;
    bottom: 19%;
    /* border: solid red 2px; */
    justify-content: right;
    align-items:end;
}

.pkmn_user {
    display: flex;
    position: relative;
    -moz-transform:scale(2);
    -webkit-transform:scale(2);
    transform:scale(2);
    width: min-content;
    height: min-content;
    right: 80px;
    bottom: 50px;
    z-index: 2;
}
.hurt_u {
    display: flex;
    position: relative;
    -moz-transform:scale(2);
    -webkit-transform:scale(2);
    transform:scale(2);
    width: min-content;
    height: min-content;
    right: 80px;
    bottom: 50px;
    z-index: 2;
    filter: brightness(0) invert(1);
}
.pkmn_enemy {
    display: flex;
    position: relative;
    -moz-transform:scale(2);
    -webkit-transform:scale(2);
    transform:scale(2);
    width: min-content;
    height: min-content;
    left: 60px;
    bottom: 50px;
    z-index: 2;
}
.hurt_e {
    display: flex;
    position: relative;
    -moz-transform:scale(2);
    -webkit-transform:scale(2);
    transform:scale(2);
    width: min-content;
    height: min-content;
    left: 60px;
    bottom: 50px;
    z-index: 2;
    filter: brightness(0) invert(1);
}

.pkmn_sel_box {
    width: 80px;
    height: 80px;
    border: solid 2px rgb(61, 61, 61);
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
}
.pkmn_sel {
    width: 80px;
    height: 80px;
}
.game_sel {
    overflow: hidden;
    min-height: 110px;
    width: 650px;
    border: solid 4px rgb(107, 107, 107);
    border-radius: 25px;
    background-color: #b6b6b6;
}

.switch {
    width: 80px;
    height: 80px;
    border: none;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.pkmn_type_ico {
    display: inline-block;
    font-family: "Fira Sans","Trebuchet MS",Ubuntu,Helvetica,Arial,sans-serif;
    width: 50px;
    height: 20px;
    background: #dbdbdb;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.671);
    color: #fff;
    font-size: .7rem;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,.7);
    text-transform: uppercase;
    margin-left: 3px;
}

.pkmn_type_icox {
    position: absolute;
    display: inline-block;
    font-family: "Fira Sans","Trebuchet MS",Ubuntu,Helvetica,Arial,sans-serif;
    width: 50px;
    height: 20px;
    left: 180px;
    top: 4px;
    background: #dbdbdb;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    border: 1px solid rgba(31, 31, 31, 0.842);
    color: #fff;
    font-size: .7rem;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,.7);
    text-transform: uppercase;
    margin-left: 3px;
}

.move_outer {
    all: revert;
    display: block;
    position: relative;
    left: 60px;
    width: 300px;
    height: 30px;
    background-color:rgb(255, 255, 255);
    box-shadow: 0 5px 15px rgba(0,0,0,.7);
    border-radius: 15px;
    margin-top: 3px;
    cursor: pointer
}

.Normal {
    background: #aa9;
}

.Fire {
    background: #f42;
}

.Water {
    background: #39f;
}

.Electric {
    background: #fc3;
}

.Grass {
    background: #7c5;
}

.Ice {
    background: #6cf;
}

.Fighting {
    background: #b54;
}

.Poison {
    background: #a59;
}

.Ground {
    background: #db5;
}

.Flying {
    background: #89f;
}

.Psychic {
    background: #f59;
}

.Bug {
    background: #ab2;
}

.Rock {
    background: #ba6;
}

.Ghost {
    background: #66b;
}

.Dragon {
    background: #76e;
}

.Dark {
    background: #754;
}

.Steel {
    background: #aab;
}

.Fairy {
    background: rgb(255, 174, 255);
}

.fainted {
    filter: grayscale(100%);
}

.type_enemy {
    position: absolute;
    right: 1%;
    top: 17.5%;

}

.type_user {
    position: absolute;
    left: 1%;
    bottom: 20.5%;
}

.textboxo {
    display: flex;
    width: 400px;
    height: 80px;
    background: url('img/text.png') no-repeat;
    background-size: cover;
    color: black;
    font-size: 12px;
    font-family: 'pkmn';
}
.textbox {
    display: flex;
    width: 400px;
    max-height: 80px;
    color: black;
    font-size: 12px;
    font-family: 'pkmn';
    margin-left: 23px;
    margin-right: 39px;
    margin-top: 16px;
    margin-bottom: 13px;
}

@font-face {
    font-family: 'pkmn'; /*a name to be used later*/
    src: url('PKMN_RBYGSC.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'pkmn_dp';
    src: url('pokemon-dp-pro.ttf');
}

.rel {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.user_info {
    display: block;
    position: absolute;
    background: url('img/user_info.png') no-repeat;
    height: 59px;
    width: 185px;
    left:0;
    bottom: 5%;
    z-index: 3;
}

.enemy_info {
    display: block;
    position: absolute;
    background: url('img/enemy_info.png') no-repeat;
    height: 49px;
    width: 181px;
    right:0;
    top: 5%;
    z-index: 3;
}

.user_hpfield {
    display: block;
    position: absolute;
    height: 16px;
    width: 107px;
    background: url('img/hp_bar.png') no-repeat;
    left: 10px;
    top: 24px;
    z-index: 5;
}
.hp_bar_user {
    display: block;
    position: absolute;
    height: 6px;
    z-index: 3;
    top: 29px;
    left: 35px;
    background-color: rgb(88, 255, 73);
}
.enemy_hpfield {
    display: block;
    position: absolute;
    height: 16px;
    width: 107px;
    background: url('img/hp_bar.png') no-repeat;
    right: 8px;
    top: 28px;
    z-index: 5;
}
.hp_bar_enemy {
    display: block;
    position: absolute;
    height: 6px;
    z-index: 3;
    top: 33px;
    left: 89px;
    background-color: rgb(88, 255, 73);
}

.user_HP_num {
    position: absolute;
    display: flex;
    font-family: 'pkmn_dp';
    font-size: 18px;
    bottom: 3px;
    left: 45px;
    color:rgb(83, 83, 83);
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.644);
}
.enemy_HP_num {
    position: absolute;
    display: flex;
    font-family: 'pkmn_dp';
    font-size: 18px;
    bottom: 18px;
    left: 110px;
    color:rgb(83, 83, 83);
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.644);
}
.user_pkmn_name {
    position: absolute;
    display: flex;
    font-family: 'pkmn_dp';
    font-size: 23px;
    top: 2px;
    left: 20px;
    color:rgb(83, 83, 83);
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    text-align: left;
}
.enemy_pkmn_name {
    position: absolute;
    display: flex;
    font-family: 'pkmn_dp';
    font-size: 23px;
    top: 2px;
    left: 30px;
    color:rgb(83, 83, 83);
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    text-align: left;
}

.moves_Cont {
    display: block;
    position: relative;
    height: 150px;
    width: 300px;
    left: 350px;
    top: 190px;
}
.move_box {
    all: revert;
    position: absolute;
    height: 30px;
    width: 300px;
    background-color:rgba(201, 201, 201, 0.301);
    top: -3px;
    left: -2px;
    border: rgb(46, 46, 46) solid 3px;
    box-shadow: -1px 2px 8px 2px rgba(255, 255, 255, 0.842) inset;
    border-radius: 15px;
}
.move_damage {
    display: block;
    position: absolute;
    width: 45px;
    left: 153px;
}
.move_damage img {
    display: block;
    position: absolute;
    top: 5px;
    width: 30px;
}
.move_name {
    position: absolute;
    display: flex;
    font-family: 'pkmn_dp';
    font-size: 24px;
    top: 2px;
    left: 48px;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
    text-align: left;
}
.move_power {
    display: block;
    position: absolute;
    font-family: 'pkmn_dp';
    background-color: #ececec;
    height: 18px;
    width: 35px;
    top: 5px;
    font-size: 20px;
    color:rgb(39, 39, 39);
    border:rgb(43, 43, 43) solid 2px;
    border-radius: 10px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    line-height: 18px;
}