.stopwatchClock {
    background-color: lightgray;
    border: gray solid 2px;
    border-radius 20px;
    height: 200px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.btn_row {
    width: 300px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.btn_row button {
    margin: 3px;
    font-weight:800;
}

.times {
    width: 300px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-weight:700;
}